<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 800px;
            height: 500px;
        }

        form {
            margin-top: 100px
        }

    </style>
</head>
<body>
<script src="lib/lodash.js"></script>
<script src="lib/jquery-1.7.2.js"></script>
<script src="lib/bootstrap.js"></script>
<script src="lib/vue.js"></script>
<script src="lib/vue-resource.js"></script>
<script src="lib/wangEditor/js/wangEditor.js"></script>
<script src="scripts/editBox.js"></script>
<script src="scripts/reg.js"></script>

<div class="container" id="regBox">
    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <div v-show="false" id="loginSuccess"
                     class="prompts col-sm-offset-5 col-sm-5 alert alert-success" role="alert">
                    注册成功! &nbsp &nbsp &nbsp <a href="/login.html" class="alert-link"> 点击登录</a>
                </div>

                <div v-show="false" id="loginFail"
                     class="prompts col-sm-offset-5 col-sm-5 alert alert-danger" role="alert">
                    注册失败！
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-5 ">
                    <legend> 用户注册</legend>
                </div>
            </div>
            <div class="form-group">
                <label for="username" class="col-sm-5 control-label">用户账号</label>
                <div class="col-sm-5">
                    <input type="text" id="username" class="form-control" placeholder="" v-model="username">
                    <p v-show="false" class="prompts usernameIsEmpty text-danger">用户名不能为空</p>
                    <p v-show="false" class="prompts usernameExist text-danger">用户名已存在</p>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-5 control-label">登录密码</label>
                <div class="col-sm-5">
                    <input type="password" id="password" class="form-control" placeholder="" v-model="password">
                    <p v-show="false" class="prompts passwordIsShort text-danger">登录密码不能为小于6位</p>
                </div>
            </div>
            <div class="form-group">
                <label for="rePassword" class="col-sm-5 control-label">重复登录密码</label>
                <div class="col-sm-5">
                    <input type="password" id="rePassword" class="form-control" placeholder="" v-model="rePassword">
                    <p v-show="false" class="prompts passwordNotEqual text-danger">与上次密码不符，请重新输入</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-5">
                    <button type="button" class="btn btn-primary btn-lg active" @click="reg()">注 册</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>



















